<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

<h1>Choose Plan</h1>

<%= form.select :plan_name,["Basic","Advanced","Expert"] %>


<div class="table">
<h3>Plan Description</h3>
<table>
  <thead>
      <tr>
          <th>Plan name</th>
          <th>Max key</th>
          <th>Max call/day</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Basic</td>
          <td>5</td>
          <td>500</td>
      </tr>
  </tbody>
  <tbody>
      <tr>
          <td>Advanced</td>
          <td>10</td>
      </tr>
  </tbody>
</table>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>